* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

body {
    background: #f2f2f2;
}

.besar {
    display: flex;
    flex-direction: column;
}

.atas {
    display: flex;
    flex-direction: row;
}

.panel {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.book {
    padding: 10px;
}

.book a {
    color: white;
    text-decoration: none;
    margin-left: auto;
}

.navbar {
    background-color: black;
    padding: 20px;
    height: 150px;
    display: flex;
    align-items: center;
}

.navbar2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ayo1 {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ayo1 a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.ayo2 {
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ayo2 h1 {
    color: white;
    font-size: 20px;
}

.logo {
    background-color: black;
    object-fit: cover;
    width: 130px;
    height: 130px;
}

.navbar h1 {
    color: white;
    text-align: center;
    /* flex: 1; */
}

.navbar a {
    margin-left: auto;
    color: white;
}

.hero {
    background-image: url(../img/tampildepan1.jpg);
    background-size: cover;
    background-position: center 40%;
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 400px;
}

.hero h1 {
    font-size: 45px;
}

.hero p {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background: #111;
    color: white;
    margin-top: 170px;
    margin-right: 500px;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    /* width: 100%; */
    height: 500px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.card {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: blue;
    align-items: center;
    justify-content: center;
}

.card2 {
    background: white;
    padding: 30px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 300px;
}

.card2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.text1 {
    position: relative;
    bottom: 5px;
    left: 25px;
    font-size: 70%;
    text-decoration: none;
}

.text1 h1 {
    color: black;
}

.gambar {
    border-radius: 10%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    text-align: center;
}